.card{
	height: 290px !important;
	padding: 15px;
}
.card-title{
	font-weight: bold;
	margin-top: 5px;
}
img{
	height: 150px;
	display: block;
    margin: auto;
    transition:height 0.5s linear;
}

body{
	background-image: url("http://www.giftalove.com/blog/wp-content/uploads/2016/02/online-gifts-e1455541024134.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
}
.container{
	height: 600px;
	margin-top: 50px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	box-shadow: 0 20px 5px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.22);
	background-color: rgba(255,255,255,0.75) !important;
	
}
.products-container{
	width: 100%;
	height: 556px;
	overflow: auto;
	padding-right: 15px;
	padding-left: 10px;
	border-top: 1px solid gray;
}
.col-sm-2{
	margin-top: 5px;
	margin-bottom: 5px;
}
.wellcome, .warning{
	font-size: 20px;
}
.warning{
	color: red;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.wellcome{
	color: #b57ebe;
	font-weight: bold;
}